<section class="bg-banner">
  <div class="container d-none d-md-block">
    <div class="row d-flex bd-highlight pt-2">
      <div class="p-1 text-white flex-grow-1 bd-highlight"><img src="/assets/images/gdg-logo-color.png"></div>
      <div class="p-3 text-white bd-highlight">Home</div>
      <div class="p-3 text-white bd-highlight">Event</div>
      <div class="p-3 text-white bd-highlight">News</div>
      <div class="p-3 text-white bd-highlight">Contact</div>
    </div>
  </div>

  <div class="container d-block d-md-none">
    <div class="row d-flex bd-highlight pt-3">
      <span class="burgerbar pl-2 text-white" (click)="toggleNav()">&#9776;</span>
      <div id="mySidenav" class="sidenav" [@navBar]="status" >
        <a class="closebtn" (click)="toggleNav()">&times;</a>
        <a href="#">About</a>
        <a href="#">Services</a>
        <a href="#">Clients</a>
        <a href="#">Contact</a>
      </div>
    </div>
  </div>

  <app-banner></app-banner>
</section>
