.bg-banner {
  background-image: url('/assets/images/banner.png');
  width: 100%;
  height: 680px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: 136%;
}

.pattern-r {
  top: 60%;
}
