<!--The content below is only a placeholder and can be replaced.-->

<section class="bg-banner">
  <div class="container">
    <div class="row d-flex bd-highlight pt-3">
      <div class="p-2 text-white flex-grow-1 bd-highlight">Flex item</div>
      <div class="p-2 text-white bd-highlight">Flex item</div>
      <div class="p-2 text-white bd-highlight">Third flex item</div>
    </div>
  </div>
</section>


<section class="mb-5">
  <div class="d-flex justify-content-end m-0 p-0">
    <img src="assets/images/pattern-r.png" class="position-absolute pattern-r">
  </div>
  <div class="container">
    <div class="row mt-5">
      <div class="col-md-5 col-12 d-flex justify-content-center">
        <img src="assets/images/dev-logo.png">
      </div>
      <div class="col-md-7 col-12">
        <h3 class="mb-4">About the Community Groups Program</h3>
        <p>This program is dedicated to assisting individual organizers of active mobile, web, cloud, and AI developer communities on their journey leading successful and engaged groups via online
          training, meetup materials, networking opportunities, and more.</p>

        <p> The program membership is free with no strings attached - we won’t ask you to promote Google’s products, use our branding in events, or limit your work to any specific technologies,
          topics, or partners.</p>
      </div>
    </div>
  </div>
</section>

<section class="mt-md-5 pt-md-5 mt-2 pt-0">
  <div class="container">
    <div class="row">
      <div class="col-md-5 col-12 d-flex align-items-center">
        <div>
          <h3 class="mb-4"><span class="color-yellow mr-2"># Explore</span> <span class="color-red mr-2">Our</span> <span class="color-blue mr-2">Past</span>
            <span class="color-green mr-2">Events</span></h3>
          <a href="https://www.youtube.com/watch?v=8zOCX8K7KOw&t=40s"> <img src="assets/images/hightlight-18.jpg" class="w-100 rounded"></a>
        </div>
      </div>

      <div class="col-md-7 col-12">
        <div class="mt-5">
          <h5 class="mb-0">DevFest x BizFest George Town 2017</h5>
          <p class="mb-0">
            <small>11th Nov | @acat penang</small>
          </p>
          <p>This program is dedicated to assisting individual organizers of active mobile, web & cloud.</p>
        </div>

        <div class="mt-5">
          <h5 class="mb-0">DevFest x BizFest George Town 2016</h5>
          <p class="mb-0">
            <small>11th Nov | @acat penang</small>
          </p>
          <p>This program is dedicated to assisting individual organizers of active web.</p>
        </div>

        <div class="mt-5">
          <h5 class="mb-0">DevFest x BizFest George Town 2015</h5>
          <p class="mb-0">
            <small>11th Nov | @acat penang</small>
          </p>
          <p>This program is dedicated to assisting individual organizers of active web.</p>
          <!--<button type="button" class="btn btn-hover color-gdg rounded-pill text-white">Read More</button>-->
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="d-flex justify-content-start m-0 p-0">
    <img src="assets/images/pattern-l.png" class="position-absolute pattern-l">
  </div>
  <div class="container mt-5 pt-5">
    <div class="row d-flex justify-content-center">
      <div class="col-md-8 col-12 mt-5 ">
        <h3 class="mb-4"><span class="color-yellow mr-2">What's</span> <span class="color-green mr-2">New?</span></h3>
        <img src="assets/images/img.jpg" class="w-100 rounded">
      </div>
      <div class="col-md-8 col-12 mt-2">
        <h5>Google I/O Extended 18 George Town</h5>
        <p class="text-black-50 mb-2">
          <small>13 August 2018</small>
        </p>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elitm sociis natoque penatibus etnascetur ridiculus musonec quam felis. Nulla consequat massa quis enim. </p>
        <br>
        <h5>Google I/O Extended 18 George Town</h5>
        <p class="text-black-50 mb-2">
          <small>13 August 2018</small>
        </p>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elitm sociis natoque penatibus etnascetur ridiculus musonec quam felis. Nulla consequat massa quis enim. </p>
        <br>
        <h5>Google I/O Extended 18 George Town</h5>
        <p class="text-black-50 mb-2">
          <small>13 August 2018</small>
        </p>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elitm sociis natoque penatibus etnascetur ridiculus musonec quam felis. Nulla consequat massa quis enim. </p>
        <a href="#" class="color-blue mt-5">More News
          <fa-icon [icon]="faArrowRight" class="ml-2"></fa-icon>
        </a>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container my-5 pt-5">
    <div class="row d-flex justify-content-center">
      <div class="col-md-10 col-12">
        <div class="row">
          <div class="col-md-5 col-12 mt-5 d-flex align-items-center">
            <h5>Their work on our website and Internet marketing has made a significant different to our business. We’ve seen a 425% increase in quote requests from the website which has been pretty
              remarkable – but I’d always like to see more!</h5>

          </div>
          <div class="col-md-7 col-12 mt-5">
            <img src="assets/images/group.jpg" class="w-100 rounded">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="bg-light">
  <div class="container my-5 pt-5">
    <div class="row d-flex justify-content-center">
      <div class="col-md-10 col-12">
        <div class="row">
          <div class="col-2">
            <img src="assets/images/partner/google.svg" class="w-100">
          </div>
          <div class="col-2">
            <img src="assets/images/partner/womenwill.png" class="w-100">
          </div>
          <div class="col-2">
            <img src="assets/images/partner/emanon.svg" class="w-100">
          </div>
          <div class="col-2">
            <img src="assets/images/partner/greenroom.svg" class="w-100">
          </div>
          <div class="col-2">
            <img src="assets/images/partner/google.svg" class="w-100">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

