<section class="bg-banner">
  <div class="container d-none d-lg-block">
    <div class="row d-flex bd-highlight pt-3">
      <div class="p-1 text-white flex-grow-1 bd-highlight"><img src="assets/images/gdg-logo-color.png"></div>
      <div class="px-3 pt-5 text-white bd-highlight">Home</div>
      <div class="px-3 pt-5 text-white bd-highlight">Event</div>
      <div class="px-3 pt-5 text-white bd-highlight">News</div>
      <div class="px-3 pt-5 text-white bd-highlight">Contact</div>
    </div>

    <div class="row d-flex bd-highlight pt-3">
      <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; open</span>
      <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="#">About</a>
        <a href="#">Services</a>
        <a href="#">Clients</a>
        <a href="#">Contact</a>
      </div>
    </div>

    <div class="row d-flex align-items-center banner-title-height">
      <div class="w-100">
        <h1 class="text-center text-white banner-title">Google IO 2019 <br> Coming Soon Now</h1>
      </div>
    </div>
  </div>
</section>

<section class="mb-5">
  <div class="d-flex justify-content-end m-0 p-0">
    <img src="assets/images/pattern-r.png" class="position-absolute pattern-r">
  </div>
  <div class="container">
    <div class="row mt-5">
      <div class="col-lg-5 col-md-12 col-12 d-flex justify-content-center">
        <img src="assets/images/dev-logo.png">
      </div>
      <div class="col-lg-7 col-md-12 col-12">
        <h3 class="mb-4">About the Community Groups Program</h3>
        <p>This program is dedicated to assisting individual organizers of active mobile, web, cloud, and AI developer communities on their journey leading successful and engaged groups via online
          training, meetup materials, networking opportunities, and more.</p>

        <p> The program membership is free with no strings attached - we won’t ask you to promote Google’s products, use our branding in events, or limit your work to any specific technologies,
          topics, or partners.</p>
      </div>
    </div>
  </div>
</section>

<section class="mt-md-5 pt-md-5 mt-2 pt-0">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-md-12 col-12 d-flex align-items-center">
        <div>
          <h3 class="mb-4"><span class="color-yellow mr-2"># Explore</span> <span class="color-red mr-2">Our</span> <span class="color-blue mr-2">Past</span>
            <span class="color-green mr-2">Events</span></h3>
          <a href="https://www.youtube.com/watch?v=8zOCX8K7KOw&t=40s"> <img src="assets/images/hightlight-18.jpg" class="w-100 rounded"></a>
        </div>
      </div>

      <div class="col-lg-7 col-md-12 col-12">
        <div class="mt-5">
          <h5 class="mb-0">DevFest x BizFest George Town 2017</h5>
          <p class="mb-0">
            <small>11th Nov | @acat penang</small>
          </p>
          <p>This program is dedicated to assisting individual organizers of active mobile, web & cloud.</p>
        </div>

        <div class="mt-5">
          <h5 class="mb-0">DevFest x BizFest George Town 2016</h5>
          <p class="mb-0">
            <small>11th Nov | @acat penang</small>
          </p>
          <p>This program is dedicated to assisting individual organizers of active web.</p>
        </div>

        <div class="mt-5">
          <h5 class="mb-0">DevFest x BizFest George Town 2015</h5>
          <p class="mb-0">
            <small>11th Nov | @acat penang</small>
          </p>
          <p>This program is dedicated to assisting individual organizers of active web.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="d-flex justify-content-start m-0 p-0">
    <img src="assets/images/pattern-l.png" class="position-absolute pattern-l">
  </div>
  <div class="container my-md-5 my-3 pt-md-5 pt-2">
    <div class="row d-flex justify-content-center">
      <div class="col-lg-10 col-md-12 col-12 mt-5">
        <h3 class="mb-4">What's New?</h3>
        <img src="assets/images/img.jpg" class="w-100 rounded">
      </div>
      <div class="col-lg-10 col-md-12 col-12 mt-4">
        <h5>Google I/O Extended 18 George Town</h5>
        <p class="text-black-50 mb-2">
          <small>13 August 2018</small>
        </p>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elitm sociis natoque penatibus etnascetur ridiculus musonec quam felis. Nulla consequat massa quis enim. </p>
        <br>
        <h5>Google I/O Extended 18 George Town</h5>
        <p class="text-black-50 mb-2">
          <small>13 August 2018</small>
        </p>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elitm sociis natoque penatibus etnascetur ridiculus musonec quam felis. Nulla consequat massa quis enim. </p>
        <br>
        <h5>Google I/O Extended 18 George Town</h5>
        <p class="text-black-50 mb-2">
          <small>13 August 2018</small>
        </p>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elitm sociis natoque penatibus etnascetur ridiculus musonec quam felis. Nulla consequat massa quis enim. </p>
        <a href="#" class="color-blue mt-5">More News
          <fa-icon [icon]="faArrowRight" class="ml-2"></fa-icon>
        </a>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container my-md-5 my-3 pt-md-5 pt-2">
    <div class="row d-flex justify-content-center">
      <div class="col-12">
        <div class="row">
          <div class="col-md-5 col-12 mt-5 d-flex align-items-center">
            <h5>Their work on our website and Internet marketing has made a significant different to our business. We’ve seen a 425% increase in quote requests from the website which has been pretty
              remarkable – but I’d always like to see more!</h5>
          </div>
          <div class="col-md-7 col-12 mt-5">
            <img src="assets/images/group.jpg" class="w-100 rounded">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="bg-light py-1">
  <div class="container my-5">
    <div class="row d-flex justify-content-center">
      <div class="col-md-10 col-12">
        <div class="row">
          <div class="col-12">
            <h3 class="mt-2 mb-3">Our Partners</h3>
          </div>
        </div>
        <div class="row my-md-5 my-3">
          <div class="col-3">
            <img src="assets/images/partner/google.png" class="w-100">
          </div>
          <div class="col-3">
            <img src="assets/images/partner/greenroom.png" class="w-100">
          </div>
          <div class="col-3">
            <img src="assets/images/partner/emanon.png" class="w-100">
          </div>
          <div class="col-3">
            <img src="assets/images/partner/grab.png" class="w-100">
          </div>
        </div>
        <div class="row my-md-5 my-3">
          <div class="col-3">
            <img src="assets/images/partner/exabytes.png" class="w-100">
          </div>
          <div class="col-3">
            <img src="assets/images/partner/magic.png" class="w-100">
          </div>
          <div class="col-3">
            <img src="assets/images/partner/acat.png" class="w-100">
          </div>
          <div class="col-3">
            <img src="assets/images/partner/psc.png" class="w-100">
          </div>
        </div>
        <div class="row my-md-5 my-3">
          <div class="col-3">
            <img src="assets/images/partner/jetbrains.png" class="w-100">
          </div>
          <div class="col-3">
            <img src="assets/images/partner/scoopoint.png" class="w-100">
          </div>
          <div class="col-3">
            <img src="assets/images/partner/settlement.png" class="w-100">
          </div>
          <div class="col-3">
            <img src="assets/images/partner/womenwill.png" class="w-100">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4 col-12 p-0 m-0">
        <img src="assets/images/gallery-1.jpg" class="w-100">
      </div>
      <div class="col-md-4 col-12 p-0 m-0">
        <img src="assets/images/gallery-2.jpg" class="w-100">
      </div>
      <div class="col-md-4 col-12 p-0 m-0">
        <img src="assets/images/gallery-3.jpg" class="w-100">
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 col-6 p-0 m-0">
        <img src="assets/images/gallery-4.jpg" class="w-100">
      </div>
      <div class="col-md-3 col-6 p-0 m-0">
        <img src="assets/images/gallery-5.jpg" class="w-100">
      </div>
      <div class="col-md-3 col-6 p-0 m-0">
        <img src="assets/images/gallery-6.jpg" class="w-100">
      </div>
      <div class="col-md-3 col-6 p-0 m-0">
        <img src="assets/images/gallery-7.jpg" class="w-100">
      </div>
    </div>
  </div>
</section>

<section class="bg-footer mt-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-7 col-md-8 col-12 mt-md-5 mt-0">
        <h3>Want subscribe our <strong>GDG Newsletter?</strong><br>
          Get our lastest news now.
        </h3>
        <button type="button" class="btn btn-hover color-gdg rounded-pill text-white my-3">Subscribe now</button>
        <!--<button type="button" class="btn btn-outline-danger color-gdg rounded-pill my-3">Subscribe now</button>-->
      </div>

      <div class="col-lg-5 col-md-4 col-12 float-right mt-2 pt-5">
        <div class="pt-5 text-center">
          <img src="assets/images/gdg-logo-color.png" class="text-center">
          <div class="text-center pt-2">
            <a href="#" class="text-white mt-5">
              <fa-icon [icon]="faFacebookF" class="mr-3"></fa-icon>
            </a>
            <a href="#" class="text-white mt-5">
              <fa-icon [icon]="faTwitter" class="mr-3"></fa-icon>
            </a>
            <a href="#" class="text-white mt-5">
              <fa-icon [icon]="faInstagram"></fa-icon>
            </a>
          </div>
          <p class="py-3 text-white copyright">
            Copyright © 2019 GDG George Town. All Rights Reserved.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>


<script>
  function openNav() {
    document.getElementById("mySidenav").style.width = "100%";
  }

  function closeNav() {
    document.getElementById("mySidenav").style.width = "0";
  }
</script>
