<!--The content below is only a placeholder and can be replaced.-->

<section class="bg-banner">
  <div class="container">
    <div class="row d-flex bd-highlight">
      <div class="p-2 text-white flex-grow-1 bd-highlight">Flex item</div>
      <div class="p-2 text-white bd-highlight">Flex item</div>
      <div class="p-2 text-white bd-highlight">Third flex item</div>
    </div>
  </div>
</section>


<section>
    <div class="row d-flex justify-content-end m-0 p-0">
      <img src="assets/images/pattern-r.png" class="position-absolute pattern-r">
    </div>
  <div class="container">
    <div class="row mt-5">
      <div class="col-md-6 col-12 d-flex justify-content-center">
        <img src="assets/images/dev-logo.png">
      </div>
      <div class="col-md-6 col-12">
        <h4 class="mb-4">About the  Community Groups Program</h4>
        <p>This program is dedicated to assisting individual organizers of active mobile, web, cloud, and AI developer communities on their journey leading successful and engaged groups via online training, meetup materials, networking opportunities, and more.</p>

         <p> The program membership is free with no strings attached - we won’t ask you to promote Google’s products, use our branding in events, or limit your work to any specific technologies, topics, or partners.</p>
      </div>
    </div>
  </div>
</section>

