<section>
  <div class="d-flex justify-content-start m-0 p-0">
  <img src="assets/images/pattern-l.png" class="position-absolute pattern-l">
  </div>
  <div class="container my-md-5 my-3 pt-md-5 pt-2">
    <div class="row d-flex justify-content-center">
      <div class="col-md-12 col-12 mt-5">
        <h3 class="mb-4">What's New?</h3>
        <!--<img src="assets/images/img.jpg" class="w-100 rounded">-->
      </div>
      <div class="col-md-12 col-12 mt-4" *ngFor="let item of items | async">
        <h5>{{item.title}}</h5>
        <p class="text-black-50 mb-2">
          <small>{{item.date.toDate() | date:'dd, LLL'}} | {{item.destination}}</small>
        </p>
        <p>{{item.short_description}}</p>
        <a href="#" class="color-blue mt-5">More News
          <fa-icon [icon]="faArrowRight" class="ml-2"></fa-icon>
        </a>
      </div>
    </div>
  </div>
</section>
